# Ignore everything
*
!.gitignore
!README.md
!README.en.md
!battle_hacks.asm
!m3hack.asm
!outside_hacks.asm
!naming_screen_hacks.asm
!main_script_hacks.asm
!extra_hacks.asm
!main_menu_hacks.asm
!sprite_text_hacks.asm
!general_hacks.asm
!credits_hacks.asm
!custom_text.txt
!itemnames.txt
!castroll_names.txt
!mapnames.txt
!psidescriptions.txt
!charnames.txt
!special_itemdescriptions.txt
!enemynames.txt
!pcharnames.txt
!statuses.txt
!psinames.txt
!skilldescriptions.txt
!menus3.txt
!menus2.txt
!enemydescriptions.txt
!itemdescriptions.txt
!defaultnames.txt
!battletext.txt
!specialtext.txt
!enemy_extras.txt
!miscmenus.txt
!menus1.txt
!item_extras.txt
!musicnames.txt
!enemynames_short.txt
!texttable.txt
!script.txt
!0-8.txt
!0-15.txt
!0-16.txt
!0-41.txt
!0-42.txt
!0-8E.txt
!0-15E.txt
!0-16E.txt
!0-41E.txt
!0-42E.txt
!lookoverthere_eng.snd
!readysetgo.snd
!sound_relocate_dump.bin
!object_table_4_025_segment.bin
!object_tables_debug.bin
!M3FontEditor.txt
!font_mainfont.bin
!font_mainwidths.bin
!font_smallfont.bin
!font_smallwidths.bin
!data_creditstable.bin
!data_ghost_fix.bin
!data_introcode.bin
!data_memo_flags.bin
!data_memo_flags_classic.bin
!data_namingcursors.bin
!data_namingscreen1.bin
!data_namingscreen2.bin
!data_target_table.bin
!logic_leder_fix_counter_fireplace.bin
!logic_leder_fix_song.bin
!logic_fix_debug_pigmask.bin
!logic_fix_debug_chapter7_kumatora.bin
!logic_pointer_283.bin
!logic_set_porky.bin
!logic_set_ssc.bin
!logic_leder_memo.bin
!logic_new_npc_debug.bin
!logic_blocks_37F_380_381_382.bin
!logic_multi_debug.bin
!logic_00E.bin
!logic_00F.bin
!logic_0EA.bin
!logic_36D.bin
!logic_36E.bin
!logic_code_0E9.bin
!logic_code_36C.bin
!logic_pointer_36C.bin
!logic_1CF_pointers.bin
!logic_142_pointers.bin
!gfx_menu_text_swapped_palette.bin
!gfx_chaptertitles_\[c\].bin
!gfx_debug_\[c\].bin
!gfx_flavours.bin
!gfx_credits_\[c\].bin
!gfx_credits_arrangement.bin
!gfx_namingscreen.bin
!gfx_disclaimer_\[c\].bin
!gfx_hit.bin
!gfx_start_battle_\[c\].bin
!gfx_highway_graphics_\[c\].bin
!gfx_highway_layer3_\[c\].bin
!gfx_highway_tilemap_\[c\].bin
!gfx_factory_arrangement.bin
!gfx_flavours_arrangement.bin
!gfx_titlescreen.bin
!gfx_youwon.bin
!gfx_titlescreen_\[c\].bin
!gfx_knock.bin
!gfx_healthscreen_\[c\].bin
!gfx_healthscreen_arrangement_\[c\].bin
!gfx_tanetane_cliff_tilemap_\[c\].bin
!gfx_cutscene_\[c\].bin
!gfx_cutscene_layer2_arrangement_\[c\].bin
!gfx_cutscene_layer3_arrangement_\[c\].bin
!gfx_tanetane_layer1_arrangement_\[c\].bin
!gfx_tanetane_layer2_arrangement_\[c\].bin
!gfx_tanetane_layer3_arrangement_\[c\].bin
!gfx_summary_arrangement.bin
!gfx_end3_\[c\].bin
!gfx_summary_arrangement_fast.bin
!gfx_summary_arrangement_slow.bin
!gfx_youwon_arrangement.bin
!gfx_castright.bin
!gfx_castleft.bin
!gfx_disclaim_mere_\[c\].bin
!gfx_titlelogo_arrangement_mere.bin
!gfx_titlelogo_mere_\[c\].bin
!gfx_disclaimer_pal.bin
!gfx_labwall_\[c\].bin
!gfx_lab_arrangement_1f_\[c\].bin
!gfx_frogatm.bin
!gfx_tower_elevator_in_\[c\].bin
!gfx_tower_elevator_out_\[c\].bin
!gfx_credits_bazaar.bin
!gfx_sketch_highway.bin
!gfx_sketch_osohe_1.bin
!gfx_sketch_osohe_2.bin
!gfx_sketch_tower.bin
!gfx_lab_arrangement_b1f_\[c\].bin
!gfx_lab_arrangement_1f_room_\[c\].bin
!gfx_lab_arrangement_2f_\[c\].bin
!gfx_lab_arrangement_2f_room_\[c\].bin
!gfx_lab_arrangement_3f_room1_\[c\].bin
!gfx_lab_arrangement_3f_room2_\[c\].bin
!gfx_labelevator1_\[c\].bin
!gfx_labelevator2_\[c\].bin
!gfx_labelevatordoor1_\[c\].bin
!gfx_labelevatordoor2_\[c\].bin
!gfx_sketch_lab.bin
!gfx_ropeway1_\[c\].bin
!gfx_ropeway2_\[c\].bin
!gfx_bazaar1_\[c\].bin
!gfx_bazaar2_\[c\].bin
!gfx_game2_\[c\].bin
!gfx_welcome_\[c\].bin
!gfx_arcadeposters1_\[c\].bin
!gfx_arcadeposters2_\[c\].bin
!gfx_movie_\[c\].bin
!gfx_exit.bin
!gfx_exit2.bin
!gfx_sketch_lab_arrangement.bin
!gfx_up_down_\[c\].bin
!gfx_chapt1-4_arrangement.bin
!gfx_chapt5-8_arrangement.bin
!gfx_keepout_\[c\].bin
!gfx_beautytasty_in1_\[c\].bin
!gfx_beautytasty_in2_\[c\].bin
!gfx_3yearslater.bin
!gfx_sheriff1_\[c\].bin
!gfx_sheriff2_\[c\].bin
!gfx_end1_\[c\].bin
!gfx_end2_\[c\].bin
!gfx_game1_\[c\].bin
!gfx_porkypark_\[c\].bin
!gfx_amusement_\[c\].bin
!gfx_beautytasty_out_\[c\].bin
!gfx_theater_\[c\].bin
!gfx_battle_pvpp.bin
!gfx_bellicon_pal.bin
!gfx_bellicon.bin
!gfx_healthtext_\[c\].bin
!gfx_k9000_\[c\].bin
!gfx_lab1_\[c\].bin
!gfx_lab2_\[c\].bin
!gfx_monotoli_\[c\].bin
!gfx_offdef_\[c\].bin
!gfx_offdef.bin
!gfx_pencil_sprites.bin
!gfx_pvpp.bin
!gfx_sanctuaryborders.bin
!gfx_savescreen.bin
!gfx_soundplayer.bin
!gfx_starsprite.bin
!gfx_statues_\[c\].bin
!gfx_statues_pal.bin
!gfx_battle_psi_arrangement.bin
!fix_custom_text.cpp
!check_overlap.py
!CheckOverflow.java
!CheckRepeats.java
!textconv.exe
!soundconv.exe
!fix_custom_text.exe
!m3preweld.exe
!M3FontEditor.exe
!TextInjector.exe
!ups.exe
!xkas.exe
!checkoverflow.bat
!checkrepeats.bat
!j.bat
!makeups.bat
